@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
    scroll-behavior: smooth;
  }
  
  /* ----- CHANGE THE SCROLL BAR DESIGN -----
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #bbb;
  }
*/
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #efecec;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #84a0ec;
  }
  